* {
  text-decoration: none !important;
  outline: 0 !important;
}

.row {
  margin: 0 !important;
  padding: 0;
}

body {
  overflow-x: hidden;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
}

.container-in {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

header {
  padding: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  z-index: 9;
  width: 100%;
}
header .menu-logo .col-md-3 {
  padding: 20px;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-nav > li > a,
.in18 {
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Lemon Regular";
  padding: 48px 45px;
  border-left: 1px solid rgba(255, 255, 255, 0);
  border-right: 1px solid rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.navbar-default .navbar-nav > li > a:hover,
.in18:hover {
  opacity: 0.8;
  color: #ffffff;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  font-weight: bold;
  opacity: 0.8;
  color: #ffffff;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar {
  margin: 0 0 0 0;
}
.showcase {
  position: relative;
  height: 100vh;
}

.showcase-p {
  height: 90vh;
  background: rgba(0, 128, 115, 0.8);
  background: -moz-linear-gradient(
    45deg,
    rgba(0, 128, 115, 0.8) 0%,
    rgba(58, 90, 153, 0.81) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(0, 128, 115, 0.8)),
    color-stop(100%, rgba(58, 90, 153, 0.81))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 128, 115, 0.8) 0%,
    rgba(58, 90, 153, 0.81) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(0, 128, 115, 0.8) 0%,
    rgba(58, 90, 153, 0.81) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(0, 128, 115, 0.8) 0%,
    rgba(58, 90, 153, 0.81) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(0, 128, 115, 0.8) 0%,
    rgba(58, 90, 153, 0.81) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008073',endColorstr='#3a5a99',GradientType=1);
}

.showcase-p video {
  object-fit: cover;
}

.showcase video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.showcase .overlay .social-nav {
  width: 10%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20%;
}
.showcase .overlay .social-nav a {
  display: block;
  text-align: center;
  margin-bottom: 25px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.showcase .overlay .social-nav a img {
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.showcase .overlay .social-nav a:hover img {
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.text-showcase {
  text-align: center;
  padding-top: 20%;
}
.text-showcase div {
  font-family: "Lemon Bold";
  font-size: 60px;
  color: #ffffff;
}
.text-showcase div strong {
  -webkit-text-stroke: 1px #ffffff;
  color: transparent;
}
.text-showcase a {
  font-family: "Lemon Medium";
  font-size: 12px;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 20px 60px;
  display: inline-block;
  margin-top: 25px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.text-showcase a:hover {
  border: 1px solid rgba(255, 255, 255, 0.598);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
  background: rgba(0, 128, 115, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(0, 128, 115, 1)),
    color-stop(67%, rgba(58, 90, 153, 1))
  );
  background: -webkit-linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: -o-linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: -ms-linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008073', endColorstr='#3a5a99', GradientType=1 );
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.showcase .overlay {
  background: rgba(0, 128, 115, 0.8);
  background: -moz-linear-gradient(
    45deg,
    rgba(0, 128, 115, 0.8) 0%,
    rgba(58, 90, 153, 0.81) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(0, 128, 115, 0.8)),
    color-stop(100%, rgba(58, 90, 153, 0.81))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 128, 115, 0.8) 0%,
    rgba(58, 90, 153, 0.81) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(0, 128, 115, 0.8) 0%,
    rgba(58, 90, 153, 0.81) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(0, 128, 115, 0.8) 0%,
    rgba(58, 90, 153, 0.81) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(0, 128, 115, 0.8) 0%,
    rgba(58, 90, 153, 0.81) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008073',endColorstr='#3a5a99',GradientType=1);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.work-grid {
  padding: 45px;
}

.work-grid .row div {
  margin-bottom: 10px;
}

/* .work-grid .row div a span{
  background-color: gray !important;
} */

.work-grid .col-md-3 {
  padding-right: 8px;
  padding-left: 8px;
  height: 300px;
}

.work-grid .col-md-3 img {
  padding-left: 5px !important;
  padding-right: 5px !important;
  object-fit: cover !important;
  height: 100%;
  width: 100%;
}

.work-grid .col-md-4 {
  overflow: hidden;
  padding: 0 5px;
  height: 425px;
}

.work-grid .col-md-6 {
  overflow: hidden;
  padding: 0 5px;
  height: 665px;
  position: relative;
}

.work-grid .col-md-6 a::after,
.col-md-3 a::after,
.col-md-4 a::after,
.col-md-12 a::after {
  content: "";
  display: block;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  position: relative;
  background: rgba(0, 128, 115, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(0, 128, 115, 1)),
    color-stop(67%, rgba(58, 90, 153, 1))
  );
  background: -webkit-linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: -o-linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: -ms-linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008073', endColorstr='#3a5a99', GradientType=1 );
}
.work-grid .col-md-6 img,
.work-grid .col-md-4 img,
.work-grid .col-md-12 img,
.work-grid .col-md-3 img {
  padding-left: 5px !important;
  padding-right: 5px !important;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover !important;
}

.work-grid img {
  width: 100%;
  object-fit: cover !important;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.work-grid .col-md-12 {
  height: 650px;
  overflow: hidden;
  padding: 0 5px;
}

.work-grid .col-md-6 a:hover:after,
.col-md-3 a:hover:after,
.col-md-4 a:hover:after,
.col-md-6 a:hover:after,
.col-md-12 a:hover:after {
  opacity: 0.7;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.work-grid .col-md-12:hover img,
.work-grid .col-md-6:hover img,
.work-grid .col-md-4:hover img,
.work-grid .col-md-3:hover img {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.work-grid .col-md-12:hover .title-project,
.work-grid .col-md-6:hover .title-project,
.work-grid .col-md-4:hover .title-project,
.work-grid .col-md-3:hover .title-project {
  background-color: #ffffff;
  padding: 20px 35px;
  border-right: 2px solid #018075;
}

.about {
  position: relative;
  height: 100vh;
}
#stats {
  display: none;
}
.about-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 200px 0;
  text-align: center;
  left: 0;
  z-index: 1;
}
.about-text h2,
.title-text {
  font-family: "Lemon Medium";
  font-size: 48px;
  background: linear-gradient(#008074, #3a5999);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 40px;
}

.about-text p {
  font-family: "Avenir Regular";
  font-size: 18px;
  color: #3f3f3f;
}
.about-text a,
.btn-unicus {
  font-family: "Lemon Medium";
  font-size: 12px;
  color: #3f3f3f;
  border: 1px solid #3a5999;
  padding: 20px 80px;
  display: inline-block;
  margin-top: 25px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.about-text a:hover,
.btn-unicus:hover {
  border: 1px solid rgba(255, 255, 255, 0.598);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
  background: rgba(0, 128, 115, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(0, 128, 115, 1)),
    color-stop(67%, rgba(58, 90, 153, 1))
  );
  background: -webkit-linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: -o-linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: -ms-linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008073', endColorstr='#3a5a99', GradientType=1 );
  color: #ffffff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.title-project {
  background-color: #ffffff;
  padding: 20px;
  border-right: 1px solid #018075;
  position: absolute;
  left: 0;
  top: 40%;
  z-index: 9;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.title-project h4 {
  margin: 0;
  font-family: "Lemon Medium";
  font-size: 12px;
}

footer {
  background: rgba(0, 128, 115, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(0, 128, 115, 1)),
    color-stop(67%, rgba(58, 90, 153, 1))
  );
  background: -webkit-linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: -o-linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: -ms-linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008073', endColorstr='#3a5a99', GradientType=1 );
  padding: 80px 0 35px 0;
}
footer .col-md-4 .box-pais {
  border: 1px solid #517eb8;
  text-align: center;
}
footer .col-md-4 img {
  width: 100%;
}
footer .col-md-4 span {
  background-color: #3d67a4;
  padding: 5px 12px;
}
footer .col-md-4 .pais {
  margin-bottom: 25px;
}
footer .col-md-4 .pais span {
  font-family: "Lemon Medium";
  color: #ffffff;
  font-size: 12px;
  top: -5px;
  position: relative;
}
footer .col-md-4 a {
  font-family: "Lemon Regular";
  font-size: 12px;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
footer .col-md-4 a:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
footer .icon-f {
  width: 17px !important;
}
.bottomfooter {
  overflow: hidden;
  text-align: center;
  padding: 30px 0;
  border-top: solid 1px #1a93a0;
  border-bottom: solid 1px #1a93a0;
  margin-top: 40px;
  margin-bottom: 40px;
}
.bottomfooter p {
  display: inline-block;
  margin: 0 20px 0 0;
  font-size: 14px !important;
  color: #fff;
  font-family: "Lemon Regular";
}
.bottomfooter a {
  display: inline-block;
  background: #5285bb;
  border: 1px solid #5285bb;
  color: #fff;
  padding: 20px 50px;
  font-family: "Lemon Medium";
  font-size: 14px !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.bottomfooter a:hover {
  background-color: transparent;
  border: 1px solid #fff;
}
.end small {
  color: #fff;
  font-family: "Avenir Regular";
}
.end small a {
  color: #fff;
}

/*New styles*/

.header-color {
  position: relative;
  background: linear-gradient(224.79deg, #3a5999 0%, #008074 100%);
}
.filters {
  padding: 60px;
  text-align: center;
}
.filters .option-general {
  cursor: pointer;
  padding: 25px 90px;
  margin: 0 30px;
  display: inline-block;
  color: #3f3f3f;
  font-family: "Lemon Medium";
  font-size: 12px;
  border: 1px solid #3a5999;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.filters .option-general:hover,
.filters .option-general.active {
  background-color: #ffffff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
  background: rgba(0, 128, 115, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(0, 128, 115, 1)),
    color-stop(67%, rgba(58, 90, 153, 1))
  );
  background: -webkit-linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: -o-linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: -ms-linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  background: linear-gradient(
    15deg,
    rgba(0, 128, 115, 1) 0%,
    rgba(58, 90, 153, 1) 67%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008073', endColorstr='#3a5a99', GradientType=1 );
  border-color: transparent;
  color: #ffffff;
}
.container-menu-filter {
  position: relative;
}

.filters .filters-menu {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
  padding: 30px;
  background-color: #ffffff;
  text-align: left;
  position: absolute;
  width: 100%;
  z-index: 9;
  margin-top: 5px;
}

.filters .filters-menu a {
  cursor: pointer;
  color: #3f3f3f;
  font-family: "Lemon Regular";
  font-size: 12px;
  display: block;
  margin-bottom: 25px;
}
.filters .filters-menu a:hover {
  color: #3a5999;
}
.title-one {
  padding: 45px 0;
  border-bottom: 1px solid #1a93a0;
}
.title-one h4 {
  color: #3a5999;
  font-size: 24px;
  font-family: "Lemon Medium";
  margin: 0;
  padding-top: 20px;
}
.title-one p {
  color: #3f3f3f;
  font-family: "Avenir Regular";
  font-size: 16px;
}
.description {
  padding: 60px 0;
}
.description h3 {
  font-family: "Avenir Bold";
  font-size: 24px;
  margin: 0;
}
.description p {
  color: #3f3f3f;
  font-family: "Avenir Regular";
  font-size: 16px;
}
.recomended {
  padding: 80px 45px;
}
.recomended h3 {
  color: #3a5999;
  font-size: 24px;
  font-family: "Lemon Medium";
  margin: 0 0 25px 0;
  padding-top: 20px;
}

.projectNull {
  color: #1b2b4d;
  font-size: 3rem;
  font-family: "Lemon Medium";
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

#BoxArticle {
  /* position: absolute; */
  width: 100vw;
  height: 100vh;
}

#BoxArticle canvas {
  height: 100vh;
  width: 100vw !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.col-md-3.in18-content {
  text-align: right;
  padding: 45px 55px 0px 0px !important;
}

.in18 {
  border: none;
}
.in18:hover {
  border: none;
}

/* @media (min-width: 768px) {
  .navbar-collapse.collapse {
    display: flex !important;
    align-items: center;
    justify-content: space-evenly;
  }
} */

/* STYLES SECTION WEARE */
.weare {
  padding: 120px 0;
}
.weare h1 {
  font-size: 72px;
  color: #3d67a4;
  font-family: "Lemon Bold";
  padding: 0 105px;
}
.weare .col-md-3 {
  padding: 30px;
  position: relative;
  top: 40px;
}
.weare .col-md-3 p {
  font-family: "Avenir Regular";
  font-size: 14px;
}
.weare .col-md-9 {
  padding: 0;
}
.weare .col-md-9::after {
  content: "";
  width: 100%;
  border: 1px solid #1a93a0;
  height: 275px;
  bottom: -25px;
  left: -25px;
  position: absolute;
  display: block;
}
.weare .col-md-9 img {
  width: 100%;
  position: relative;
  z-index: 1;
}
.weare-one {
  margin-bottom: 160px;
}
.weare-two {
  margin-bottom: 160px;
}
.overlay-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 0);
  top: 0;
  z-index: 2;
  padding: 26% 15px 15px 15px;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.52) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0.52))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.52) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.52) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.52) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.52) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.overlay-bg h3 {
  font-size: 50px;
  color: #ffffff;
  font-family: "Lemon Bold";
}
